---
import Layout from '../components/Layout.astro';
---
<Layout title="CS2 Grenade Lineups">
  <a class="back-link" href="/cs/">&larr; Back to notes</a>
  <h1>CS2 Grenade Lineups</h1>
  <p class="subtitle">Recommended lineups from <a href="https://csnades.gg">csnades.gg</a></p>
  <p>Page under construction.</p>
</Layout>
